/* General CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F2F0EE;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Navbar styling */
.navbar {
    position: fixed; /* Fix the navbar at the top of the page */
    top: 0;
    left: 0;
    width: 100%; /* Ensure the navbar spans the full width of the page */
    display: flex;
    align-items: center;
    background-color: rgba(242, 240, 238, 0.8); /* Slightly transparent background */
    backdrop-filter: blur(5px); /* Adjust the blur amount as needed */
    padding: 25px 20px;
    z-index: 1100; /* Ensures the navbar is above the sidenav */
}

/* Waving hand icon */
.waving-hand {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 175px;
    left: 135px;
    object-fit: cover;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 20px;
}

.txt_AssetEx {
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #303030;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.search-bar {
    margin-left: 60px;
    flex-grow: 1;
    position: relative;
}

.ic_search {
    position: absolute;
    left: 13px;
    top: 11px;
}

.search-bar input {
    width: 600px;
    height: 47px;
    padding-left: 40px;
    font-size: 15px;
    font-family: "Roboto", Helvetica;
    font-weight: 500;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.user-settings {
    display: flex;
    align-items: center;
    margin-left: auto;
}

/* Username text */
.txt_Username {
    color: #444444;
    font-size: 25px;
    font-weight: 500;
    font-family: "Roboto", Helvetica;
    margin-right: 50px;
}

/* Profile and settings icons */
.ic_profile {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.ic_settings {
    height: 40px;
}






/* Sidebar styling */
.sidenav {
    position: fixed; /* Ensures the sidenav stays in place */
    top: 10px; /* Align the sidenav to the top of the page */
    left: 0; /* Align the sidenav to the left */
    background-color: transparent;
    height: 100vh; /* Full height of the viewport */
    width: 270px;
    padding: 100px 20px; /* Add padding at the top to avoid the navbar */
    overflow-y: auto;
    z-index: 1000; /* Lower z-index so the navbar appears above it */
}

.sidenav h2 {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.3;
}

.sidenav h2 span {
    font-size: 24px;
}

.nav-section {
    font-size: 14px;
    color: #8C8C8C;
    font-family: "Inter", Helvetica;
    margin: 20px 0 10px 0;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.sidenav a {
    display: block;
    font-size: 16px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #313131;
    text-decoration: none;
    padding: 10px 0;
    position: relative;
}

.sidenav a:hover {
    color: #ff4d4d;
}

.sidenav a.active {
    color: #ff4d4d;
}

.sidenav a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #ff4d4d;
    transition: width 0.3s ease;
}





/* Main content styling */
.main_content {
    position: absolute;
    width: 100vw;
    height: 1179px;
    top: 114px;
    left: 0;
}



.frame {
    outline: 1px violet solid;
    padding: 50px 50px 50px 20px;
    position: absolute;
    width: calc(100vw - 270px);
    height: 70vw;
    top: 0;
    left: 247px; /* Adjusted to match the width of the sidenav */
    background-color: #fbfbfb;
    border-top-left-radius: 71.63px;
}



.cards {
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
}

.ic_add {
    position: relative;
    top: 0;
    left: -15px;
    width: 100px;
    height: 100px;
}

.add-notif-card {
    position: relative;
    height: 350px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #FCFCFC;
    border-radius: 50px 30px 50px 30px;
    z-index: 1;
}


.add-notif-card h2 {
   position: relative;
   left: 0;
   font-family: "Inter-SemiBold", Helvetica;
   color: #3c3c3c;
   font-size: 37px;
   letter-spacing: 0;
   font-weight: 600;
   line-height: normal;
}



.add-notif-card::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background: linear-gradient(175deg, #00c6ff, #0072ff, #00ff72, #ff005e, #ff0000);
    border-radius: inherit;
    z-index: -1;
    background-size: 400%;
}

.add-notif-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FCFCFC;
    border-radius: inherit;
    z-index: -1;
    padding: 3px; /* Adjusts the space between the card and the gradient border */
}

.push-notif-card {
    outline: 3px #ECEDF0 solid;
    height: 350px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #FCFCFC;
    border-radius: 50px;
}


.push-notif-card h2{
    position: relative;
   left: 0;
   font-family: "Inter-SemiBold", Helvetica;
   color: #3c3c3c;
   font-size: 37px;
   letter-spacing: 0;
   font-weight: 600;
   line-height: normal;
}

.push-notif-card p {
   position: relative;
   left: 0;
   bottom: -30px;
   font-family: "Inter-Medium", Helvetica;
   color: #a7a7a7;
   font-size: 27px;
   letter-spacing: 0;
   font-weight: 500;
   line-height: normal;
}

.current-notif-card {
    outline: 3px #ECEDF0 solid;
    height: 350px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #02A9EB;
    border-radius: 50px;
}


.current-notif-card h2{
    position: relative;
   left: 0;
   font-family: "Inter-SemiBold", Helvetica;
   color: #000000;
   font-size: 37px;
   letter-spacing: 0;
   font-weight: 600;
   line-height: normal;
}


.current-notif-card p {
    position: relative;
    left: 0;
    bottom: -30px;
    font-family: "Inter-Medium", Helvetica;
    color: #2f2f2f;
    font-size: 27px;
    letter-spacing: 0;
    font-weight: 600;
    line-height: normal;
 }


.cards .card {
    outline: 3px #ECEDF0 solid;
    height: 300px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #FCFCFC;
    border-radius: 20px;
}



/* Responsive CSS using media queries */
@media (max-width: 1024px) {
    .search-bar input {
        width: 500px; /* Adjust search bar width for mobile */
    }

    .txt_Username, .ic_profile, .ic_settings {
        display: none; /* Hide the profile and settings on mobile */
    }
}

@media (min-width: 1024px) {
    .txt_Username, .ic_profile, .ic_settings {
        display: flex; /* Show the profile and settings on larger screens */
    }
}
